body{
    background-color: #464646;
    margin: 0;
    height: 100%!important;
    width: 100%!important;
    max-width: 100%!important;
    overflow-x: hidden!important;
}

#nav{
    width: 100%;
    height: 65px;
    background-color: #3801ff;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 6345;
 
}
 
#nav::after{
    clear: both;
    content: "";
    display: table;
 
}
#nav li{
    list-style-type:none;
    height: 65px;
}
 
#logo{
    width: 307px;
    height: 100%;
    margin: 0;
    float: left;
    text-align: center;
}

h1{
    padding-top: 7px;
    width: 307px;
    margin: 0;
    color: #c70f0f;
    font-size: 44px;
    text-shadow:
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
     -1px 1px 0 #ffffff,
      1px 1px 0 #ffffff;
}

sup{
    font-size: 20px;
}

.logo{
    width: 307px;
    height: 100%;
    text-align: center;
}
 
#serch{
    
    height: 100%;
    width: 60vw;
    float: right;
    margin-right: 15%;
}

#serch ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
    padding: 0;
    height: 100%;
}

#serch li{
    position: relative;
    float: left;
    font-size: 30px;
    margin-right: 10%;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px black;
    text-align: center;
    display: list-item;
    padding: 10px 10px 0 10px;
    height: 55px;
}

#serch a{
    text-decoration: none;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav-content{
    color: #c70f0f;
}

#serch a::before{
    content: "";
    display: table;
 
}

#serch a::after{
    content: "";
    display: table;
 
}

#serch li:hover, li:hover>a{
    background-color: #c70f0f;
    color: #3801ff;
}

#menu{
    display: none;
    padding-left: 10%; 
    padding-right: 30px;
    font-size: 45px;
    float: right;
    color: #ffffff;
    position: relative;
    margin: 0;
    margin-top: 6.5px
}

#close{
    visibility: hidden;
}

#menu-content{
    visibility: hidden;
    position: fixed;
    background-color: #3801ff;
    right: 0;;
    width: 100%;
    box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 42px;     
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px black;
    animation-delay: 0.5s;
}

#menu-content a{
    color: #c70f0f;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    width: 100%;    

}

#menu-content a:hover{
    background-color: #c70f0f;
    color: #3801ff;
    transition: 0.5s;
}

#container{
    position: absolute;
    top: 65px;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#myslider { 
    width:100vw;
    height: 40vh;
    left: 0; 
    z-index: -1;
    position: relative;
}
 
#myslider img{
    width:100vw;
    height: 40vh;  
    
}

#mySlider::after{
    clear: both;
    content: "";
  
 
}
#border{
    position: relative;
    width: 100vw;
    border-bottom: 10px solid #3801ff;
}

#photo-container li{
    float: left;
    list-style-type:none;
    height:20vw ;
}

#photo-container{
    height:20vw ;
    margin: 0;
    padding: 0;
    width: 100vw;
   
}

#photo-container img{
    width: 100%;
    height:20vw ;
}

#new{
    width: 33.2%;
    position: relative;
    border-bottom: #d31f1f outset 5px;
}

#famous{
    width: 33.2%;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    border-bottom: #d31f1f outset 5px;
}

#sale{
    width: 33.2%;
    position: relative;
    border-bottom: #d31f1f outset 5px;
}


#centered{
    position: absolute;
    top: 40%;
    left: 37%;
    font-size: 3vw;
    text-align: center;
    text-shadow: 0 0 5px black;
    font-family: 'Exo 2', sans-serif;
    opacity: 0;
}

.text a{
    text-decoration: none;
    color: #3801ff;
    
}

#new:hover  {
    border-bottom: #3801ff outset 5px;
}

#new:hover img{
    opacity: 0.2;
}

#new:hover #centered{
    opacity: 1;
}

#famous:hover  {
    border-bottom: #3801ff outset 5px;
}

#famous:hover img{
    opacity: 0.2;
}

#famous:hover #centered{
    opacity: 1;
}

#sale:hover  {
    border-bottom: #3801ff outset 5px;
}

#sale:hover img{
    opacity: 0.2;
}

#sale:hover #centered{
    opacity: 1;
}

#photo-container::after{
    clear: both;
    content: "";
    display: table;
 
}

#mission{
    position: relative;
    margin: 0;
    width: 100vw;
    height: 500px;
    background-image: url(mission.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.mission{
    width: 100vw;
    font-size: 2vw;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-align: center;
    text-shadow: 0 0 1px black;
    margin: 0;
    
}

.mission p{
    padding-top:40px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}

#footer{
    width: 100vw;
    height: 600px;
    background-color: #3b3b3b;
    
}

#links{
   position: relative;
    width: 25vw;
    height: 75%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-align: left;
    text-shadow: 0 0 1px black;
    float: left;
}

#links h{
    font-size: 2.5vw;
}

#links hr{
    border-color: #c70f0f;
    background-color: #c70f0f ;/*Opera i Firefox*/
    color:#c70f0f; /*IE*/
}

#links a{
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
}
#links a:hover{
    color: #3801ff

}

#newsletter{
    position: relative;
    float: right;
    width: 25vw;
    height: 100%;
    padding: 0;
    margin-right: 10%;
    margin-top: 2%;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-align: left;
    text-shadow: 0 0 1px black;
    
}

#newsletter li{
    float: left;
    position: relative;
    list-style-type:none;
    padding: 0;
}

#newsletter img{
    width: 6.5vw;
    height: 10vw;
    padding: 5px;
}

#newsletter::after{
    content: "";
    display: table;
    clear: both;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #464646;
  }

#modal-content {
    position: relative;
    background-color: #464646;
    margin: auto;
    padding: 0;
    width: 24%;
    max-width: 1200px;
    padding-left: 2%;

  }

#modal-content img{
      width: 100%;
      
  }

.close {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

.Slide{
    display: none;
}

.cursor {
    cursor: pointer;
  }

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #c70f0f;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover,
.next:hover {
    background-color: #3801ff;
  }

.numbertext {
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

img {
    margin-bottom: -4px;
  }
  
.caption-container {
    text-align: center;
    background-color: #464646;
    padding: 2px 16px;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
    font-size: 2vw;
  }
  
.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }
  
img.hover-shadow {
    transition: 0.3s;
  }
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.column{
      float: left;
      width: 16%;
  }


@media only screen  
and (max-device-width : 1270px) 
and (orientation : landscape)
 {
    #logo{
        left: 36%;
        position: absolute;
    }

    #serch{
        display: none;
    }

    #menu{
        padding-left:5%; 
       
        display: block;
    }



    .mission p{
        padding-top: 130px;
    }

    #footer{
        height: 400px;
    }

 
    



 }    