body{
    background-color: #3b3b3b;
}

#powrot{
    position: relative;
    float: right;
    margin-right:30px; 
}
#powrot a{
    text-decoration: none;
    font-size: 60px;
    color:#e7e7e7;
    transition: 0.4s;
}

#powrot a:hover{
    color: #c70f0f;
}

h2{
    font-size: 40px;
    color: #e7e7e7;
}