body{
    background-color: #464646;
    margin: 0;
    height: 100%!important;
    width: 100%!important;
    max-width: 100%!important;
    overflow-x: hidden!important;
}

#nav{
    border-bottom: #3801ff outset 5px ;
    border-top: #3801ff outset 3px;
    width: 100%;
    height: 65px;
    background-color: #e7e7e7;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 6345;
    top:0;
 
}
 
#nav::after{
    clear: both;
    content: "";
    display: table;
 
}
#nav li{
    list-style-type:none;
    height: 65px;
}
 
#logo{
    width: 307px;
    height: 100%;
    margin: 0;
    float: left;
    text-align: center;
}

h1{
    width: 307px;
    margin: 0;
    color: #c70f0f;
    font-family: 'PT Serif', serif;
    font-weight: BOLD;
    font-size: 46px;
    text-shadow:
    -1px -1px 0 #e7e7e7,  
     1px -1px 0 #e7e7e7,
     -1px 1px 0 #e7e7e7,
      1px 1px 0 #e7e7e7;
}

sup{
    font-size: 20px;
}

.logo{
    width: 307px;
    height: 100%;
    text-align: center;
}
 
#serch{
    
    height: 100%;
    width: 60vw;
    float: right;
    margin-right: 15%;
}

#serch ul{
    list-style-type:none;
    display:flex;
    justify-content: center;
    padding: 0;
    height: 100%;
}

#serch li{
    position: relative;
    float: left;
    font-size: 30px;
    margin-right: 10%;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    display: list-item;
    padding: 10px 10px 0 10px;
    height: 55px;
    transition: 0.1s;
}

#serch a{
    text-decoration: none;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.nav-content{
    color: #c70f0f;
}

#serch a::before{
    content: "";
    display: table;
 
}

#serch a::after{
    content: "";
    display: table;
 
}

#serch li:hover, li:hover>a{
    background-color: #471ae7;
    color: #c70f0f;
    font-size: 40px;
}

#menu{
    display: none;
    padding-left: 10%; 
    padding-right: 30px;
    font-size: 45px;
    float: right;
    color: #ffffff;
    position: relative;
    margin: 0;
    margin-top: 6.5px
}

#close{
    visibility: hidden;
}

#menu-content{
    visibility: hidden;
    position: fixed;
    background-color: #3801ff;
    right: 0;;
    width: 100%;
    box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 42px;     
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px black;
    animation-delay: 0.5s;
}

#menu-content a{
    color: #c70f0f;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    width: 100%;    

}

#menu-content a:hover{
    background-color: #c70f0f;
    color: #3801ff;
    transition: 0.5s;
}

#container{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#custom-events{
    position: relative;
    width: auto;
    height: 256px;
    padding: 0 5% 5% 5%;
}
#custom-events ul{
    list-style-type: none;
    position: absolute;
    margin:20px;
}

#custom-events li{
    float: left;
    padding: 20px;
    height: 200px;
    width: 25vw;
    object-fit: cover;
    position: relative;
}

#custom-events  li img{
    width: 100%;
    z-index: 231;
    transition: 0.2s;
}

.zdj{
    z-index: 0;
    background-color: transparent;
}

a.zdj{
    background-color: transparent !important;
}

#custom-events img:hover{
    opacity: 0.5;
    border: #e7e7e7 2px solid;
}

.lg-outer{
    transition: background-color 600ms ease 0s;
}

#boss{
    position: absolute;
    top: 73px;
    list-style-type:none;
    display: flex;
    
}

#boss li{
    float: left;
    height: 25vw;
}

.first{    
    float: left;
    width: 35vw;
    height: 25vw;
    padding:3%;
    
}
.first img{
    max-width: 100%;
    height: 25vw;    
    border: #c70f0f solid 2px;
}

.text{
    margin-top:10%;
    float: left;
    height: 25vw;
    width: auto;
    padding: 1%;
    color: #e7e7e7;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    font-size: 30px;
}

#szef{
    position: absolute;
    top: calc(73px + 30vw);
    list-style-type:none;
    display: flex;
}

#szef li{
    float: left;
    height: 25vw;
}

.sec{    
    float: right;
    width: 35vw;
    height: 25vw;
    padding:3%;
    
}
.sec img{
    max-width: 100%;
    height: 25vw;    
    border: #c70f0f solid 2px;
}

.dwa{
    margin-top:10%;
    float: right;
    height: 25vw;
    width: auto;
    padding: 1%;
    color: #e7e7e7;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    font-size: 30px;
}

#kierownik{
    position: absolute;
    top: calc(73px + 60vw);
    list-style-type:none;
    display: flex;
    
}

#kierownik li{
    float: left;
    height: 25vw;
}

.third{    
    float: left;
    width: 35vw;
    height: 25vw;
    padding:3%;
    
}
.third img{
    max-width: 100%;
    height: 25vw;    
    border: #c70f0f solid 2px;
}

.trzy{
    margin-top:10%;
    float: left;
    height: 25vw;
    width: auto;
    padding: 1%;
    color: #e7e7e7;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    font-size: 30px;
}

#zastepca{
    position: absolute;
    top: calc(73px + 90vw);;
    list-style-type:none;
    display: flex;
    
}

#zastepca li{
    float: left;
    height: 25vw;
}
.four{    
    float: right;
    width: 35vw;
    height: 25vw;
    padding:3%;
    
}
.four img{
    max-width: 100%;
    height: 25vw;    
    border: #c70f0f solid 2px;
}

.cztery{
    margin-top:10%;
    float: right;
    height: 25vw;
    width: auto;
    padding: 1%;
    color: #e7e7e7;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    font-size: 30px;
}

#dzieciak{
    position: absolute;
    top: calc(73px + 120vw);
    list-style-type:none;
    display: flex;
    
}

#dzieciak li{
    float: left;
    height: 25vw;
}

.fith{    
    float: left;
    width: 35vw;
    height: 25vw;
    padding:3%;
    
}
.fith img{
    max-width: 100%;
    height: 25vw;    
    border: #c70f0f solid 2px;
}

.piec{
    margin-top:10%;
    float: left;
    height: 25vw;
    width: auto;
    padding: 1%;
    color: #e7e7e7;
    font-family: 'Exo 2', sans-serif;
    text-shadow: 0 0 1px #000000;
    text-align: center;
    font-size: 30px;
}



#footer{
    margin-top:5%;
    position: relative;
    width: 100vw;
    height: 700px;
    background-color: #3b3b3b;
    
}

#links{
   position: relative;
    width: 25vw;
    height: 75%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 5%;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-align: left;
    text-shadow: 0 0 1px black;
    float: left;
    
}

#links h{
    font-size: 2.5vw;
    
}

#links hr{
    border-color: #c70f0f;
    background-color: #c70f0f ;/*Opera i Firefox*/
    color:#c70f0f; /*IE*/
}

#links a{
    font-size: 2vw;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
    transition: 0.3s;
}
#links a:hover{
    color: #3801ff

}

#newsletter{
    padding: 10px;
    position: relative;
    float: right;
    width: 30vw;
    height: 75%;
    margin-top: 5%;
    margin-right: 10%;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-align: left;
    text-shadow: 0 0 1px black;
    
    
}
#newsletter h{
    font-size: 2.5vw;
    
}

#newsletter hr{
    border-color: #c70f0f;
    background-color: #c70f0f ;/*Opera i Firefox*/
    color:#c70f0f; /*IE*/
}

#newsletter li{
    float: left;
    position: relative;
    list-style-type:none;
    padding: 0;
    left: 0;
    
}

#newsletter img{
    width: 6.5vw;
    height: 10vw;
    padding: 5px;
}

#newsletter img:hover {
    opacity: 0.5;
}

#newsletter::after{
    content: "";
    display: table;
    clear: both;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: auto;
    background-color: #464646;
  }

#modal-content {
    position: relative;
    background-color: #464646;
    margin: auto;
    padding: 0;
    width: 24%;
    max-width: 1200px;
    padding-left: 2%;

  }

#modal-content img{
      max-width: 100%;
      
  }

.close {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

.Slide{
    display: none;
}

.cursor {
    cursor: pointer;
  }

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #c70f0f;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover,
.next:hover {
    background-color: #3801ff;
  }

.numbertext {
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

img {
    margin-bottom: -4px;
  }
  
.caption-container {
    text-align: center;
    background-color: #464646;
    padding: 2px 16px;
    font-family: 'Exo 2', sans-serif;
    color: #c70f0f;
    text-shadow: 0 0 1px black;
    font-size: 2vw;
  }
  
.demo {
    opacity: 0.6;
  }
  
.active,
.demo:hover {
    opacity: 1;
  }
  
img.hover-shadow {
    transition: 0.3s;
  }
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.column{
      float: left;
      width: 16%;
  }



  @media screen  
and (max-device-width : 1270px) 

 {
    #logo{
        width: 100vw;
        position: absolute;
       
    }

    h1{
        width: 100%;
        text-align: center;
    }

    #serch{
        display: none;
    }

    #menu{
        padding-left:5%;        
        display: block;
    }

    .mission p{
        padding-top: 130px;
    }

    #footer{
        height: 500px;
    }

 }  

 @media screen  
 and (max-device-width : 1000px){
    #pojemnik-resp{
        display: list-item;
        height: auto;
    }
    #custom-events{
        left: calc(55% - 30vw);
        width: 300px;
        height: 600px;
        padding: 0 0 1% 5%;
    }

    #custom-events li{
        padding: 0;
    }
 }

 @media screen  
and (max-device-width : 737px) {
    #zdanie{
        font-size: 20px;
    }

    #menu{
        display: none;
    }

    .menu-respon{
        top: 73px;
        visibility: visible;
        background-color: #3801ff;
        right: 0;;
        width: 100%;
        height: 400px;
        padding: 12px 0px 12px 16px;
        z-index: 1;
        font-size: 30px;     
        text-align: center;
        font-family: 'Exo 2', sans-serif;
        text-shadow: 0 0 1px black;
        animation-delay: 0.5s;
        float: right;
        color: #ffffff;
        position: relative;
        margin-bottom: -20px;
    }
    
    .menu-respon a{
        color: #c70f0f;
        padding: 20px 0px 20px 16px;
        text-decoration: none;
        display: block;
        width: auto;    
    
    }
    
    .menu-respon a:hover{
        background-color: #c70f0f;
        color: #3801ff;
        transition: 0.5s;
    }

   
    #pojemnik-resp{
        position: relative;
        
    }

    #footer{
        top: 60vw;
    }
    
    #custom-events{
        top: 60vw ;
    }

}

@media screen  
and (max-device-width : 650px){
    #custom-events{
        top: 400px ;
        height: 450px;
    }

    #custom-events li{
        height: 150px;
    }

    #footer{
        top: 400px;
    }
}

@media screen  
and (max-device-width : 570px){
    #custom-events{
        width: auto;
        left: 0;
        height: 110px;
    }

    #custom-events li{
        padding: 10px;
        width: 20vw;
        height: auto;
    }

    #custom-events ul{
        padding: 0;
        left: 8%;
    }

}
@media screen  
and (max-device-width : 500px){
    #custom-events{
      height: 90px;
      
    }

    #custom-events li{
       width: 20vw;
       height: auto;
    }

    #custom-events ul{
        left: 8%;
     }

     
    #footer{
        height: 400px;
    }

    #links{
        height: auto;
    }

    #links h{
        font-size: 22px;
    }

    #links a{
        font-size: 20px;
    }

    #newsletter h{
        font-size: 22px
    }
    
    #newsletter ul{
        position: absolute;
        padding: 0;
    }

    #newsletter img{
        width: auto;
        height: 12vw;
    }
    
}